<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      JARR
      <ion-button fill="clear" [routerLink]="['/productos']">Productos</ion-button>
      <ion-button fill="clear">FAQs</ion-button>
      <ion-button fill="clear">Acerca de</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button fill="clear">Frutas</ion-button>
  <ion-button fill="clear">Verduras</ion-button>
  <ion-button fill="clear">Carnes</ion-button>
  <ion-button fill="clear">Pescado</ion-button>

  <ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>Platano</ion-card-title>
              <ion-button color="success">Comprar</ion-button>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col col-3>
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col col-3>
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col col-3>
          <ion-card>
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
            <ion-card-header>
              <ion-card-title>Card Title</ion-card-title>
              <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Here's a small text description for the card content. Nothing more, nothing less.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Frutas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Platano</ion-label>
          <ion-button color="success">Comprar</ion-button>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Manzana</ion-label>
          <ion-button color="success">Comprar</ion-button>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Pera</ion-label>
          <ion-button color="success">Comprar</ion-button>
        </ion-item>
  
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Durazno</ion-label>
          <ion-button color="success">Comprar</ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>



</ion-content>
