<div class="color-verde">
  <ion-header [translucent]="true">
    <ion-header>
      <ion-toolbar color="success">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          Productos
          <div *ngIf="usuario=='admin'">
            <ion-button color="success" slot="end" [routerLink]="['/agregar-producto']">Agregar</ion-button>
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-header>
</div>

<ion-content [fullscreen]="true">

  <ion-card>
    <img class="container-imagen" alt="manzana verde" src="../assets/Productos/manzana-verde.png" />
    <ion-card-header>
      <ion-card-title>Manzana Verde</ion-card-title>
      <ion-card-subtitle>1 kg.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Precio : $2.390
    </ion-card-content>
    <div class="container-boton">
      <div *ngIf="usuario=='usuario'">
        <ion-button color="success" (click)="presentAlert()">Agregar al carrito</ion-button>
      </div>
      <div *ngIf="usuario=='admin'">
        <ion-button color="warning" [routerLink]="['/editar-producto']">Editar</ion-button>
        <ion-button color="danger" (click)="presentAlert2()">Eliminar</ion-button>
      </div>
    </div>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../assets/Productos/manzana-roja.png" />
    <ion-card-header>
      <ion-card-title>Manzana Roja</ion-card-title>
      <ion-card-subtitle>1 kg.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Precio : $2.390
    </ion-card-content>
    <div class="container-boton">
      <ion-button color="success" (click)="presentAlert()">Agregar al carrito</ion-button>
      <ion-button color="warning" >Editar</ion-button>
      <ion-button color="danger">Eliminar</ion-button>
    </div>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../assets/Productos/arandano.png" />
    <ion-card-header>
      <ion-card-title>Arándano</ion-card-title>
      <ion-card-subtitle>400 g.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Precio : $3.590
    </ion-card-content>
    <div class="container-boton">
      <ion-button color="success" (click)="presentAlert()">Agregar al carrito</ion-button>
      <ion-button color="warning" >Editar</ion-button>
      <ion-button color="danger">Eliminar</ion-button>
    </div>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../assets/Productos/mango.png" />
    <ion-card-header>
      <ion-card-title>Mango</ion-card-title>
      <ion-card-subtitle>1 kg.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Precio : $4.500
    </ion-card-content>
    <div class="container-boton">
      <ion-button color="success" (click)="presentAlert()">Agregar al carrito</ion-button>
      <ion-button color="warning" >Editar</ion-button>
      <ion-button color="danger">Eliminar</ion-button>
    </div>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="../assets/Productos/platano.png" />
    <ion-card-header>
      <ion-card-title>Plátano</ion-card-title>
      <ion-card-subtitle>1 kg.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Precio : $1.590
    </ion-card-content>
    <div class="container-boton">
      <ion-button color="success" (click)="presentAlert()">Agregar al carrito</ion-button>
      <ion-button color="warning" >Editar</ion-button>
      <ion-button color="danger">Eliminar</ion-button>
    </div>
  </ion-card>

</ion-content>

<ion-footer [translucent]="true">
  <ion-tab-bar color="success" slot="bottom">
    <ion-tab-button tab="home" [routerLink]="['/productos']">
      <ion-icon name="bag-check-outline"></ion-icon>
      Productos
    </ion-tab-button>
    <ion-tab-button tab="library" [routerLink]="['/carrito']">
      <ion-icon name="cart-outline"></ion-icon>
      Carrito
    </ion-tab-button>
    <ion-tab-button tab="home" [routerLink]="['/perfil']">
      <ion-icon name="person-circle-outline"></ion-icon>
      Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>