<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <div>
        <ion-title >INICIO DE SESSION</ion-title>
      </div>

      <br />

      <br />

      <ion-input label="Usuario" label-placement="floating" fill="outline" placeholder="Donjuan"></ion-input>
  
      <br />
  
      <ion-input label="Contraseña" type="password"  label-placement="floating" fill="outline" placeholder="******"></ion-input>
    </ion-card>
  </div>
</ion-content>
