
<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-item>
        <ion-title>INICIO DE SESSION</ion-title>
      </ion-item>

      <br />
      <br />

      <ion-input label="Usuario" label-placement="floating" fill="outline" placeholder="Donjuan"></ion-input>
      <br />
  
      <ion-input label="Contraseña" type="password"  label-placement="floating" fill="outline" placeholder="******">
        <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
        <ion-button fill="clear" slot="end" aria-label="Show/hide">
          <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-input>
      
      <br />

      <ion-label>
        <p>¿No tienes una cuenta de Supermonkey? <a [routerLink]="['/register']">Regístrate</a></p>
      </ion-label>      

      <div class="container-boton">
        <ion-button class="boton" color="success" [routerLink]="['/frutas']">Iniciar sesión</ion-button>
      </div>
      <br />

    </ion-card>
  </div>
</ion-content>
